body 
{
    background-color: rgb(243, 203, 150);
   }
   h1 {
    color: rgb(168, 163, 228);
    text-align: center;
   
   }
   p {
   font-family: verdana;
    font-size: 20px;
   }
   h3 {
    color: rgb(221, 137, 179);
    text-align: center;
}
p {
font-family: serif;
 font-size: 8px;
}
h3 {
    color: rgb(223, 164, 205);
    text-align: center;
   }
   p {
   font-family: verdana;
    font-size: 20px;
   }

p {
font-family: verdana;
 font-size: 20px;
}